.root {
  height: 100vh;
}
.image {
  background-image: url("../../img/group-3.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  object-fit: contain;
}
.login {
  background: #f9fafb;
}
.paper {
  margin: 80;
  align-items: center;
  padding-top: 50px;
}
.logo {
  margin: 56px;
  width: 228;
  height: 57;
  object-fit: contain;
}
.form {
  margin-top: 8px;
  width: 420px;
  height: 48px;
}
.seconnecter {
  margin-top: 57px;
}
.input {
  background: white;
  border-radius: 6;
}
.submit {
  margin: 16px;
  width: 420px;
  height: 48px;
  border-radius: 6;
  background-color: #0084f4;
  color: white;
}
.notchedOutline {
  border-width: 1px;
  border-color: white;
}
.mdpoublie {
  margin-top: 23px;
}
